body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

body.light-mode {
  background-color: #fff;
  color: #000;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}

header.light-mode {
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto;
  /* Center the container */
}

.container.light-mode {
  background-color: #f4f4f4;
  color: #000;
}

.description {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  background-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.description.light-mode {
  background-color: #eaeaea;
  color: #000;
}

.description h2 {
  color: #ffcc00;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description.light-mode h2 {
  color: #d48806;
}

.chevron {
  border: solid #ffcc00;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s;
}

.chevron.right {
  transform: rotate(-45deg);
}

.chevron.down {
  transform: rotate(45deg);
}

.description.light-mode .chevron {
  border-color: #d48806;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  transition: background-color 0.3s, color 0.3s;
}

table,
th,
td {
  border: 1px solid #666;
}

th,
td {
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

th {
  background-color: #000;
  color: white;
}

th.light-mode {
  background-color: #000;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #555;
}

tr.light-mode:nth-child(even) {
  background-color: #eaeaea;
}

td.light-mode {
  color: #000;
}

.flag {
  width: 30px;
  height: 20px;
  margin-left: 8px;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 15px;
}

.toggle-label {
  margin-right: 10px;
}

/* Added spacing between toggles */
.toggle-container .toggle+.toggle-label {
  margin-left: 20px;
}

.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  background: #ccc;
  outline: none;
  border-radius: 25px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.toggle:checked {
  background: #66bb6a;
}

.toggle:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s;
}

.toggle:checked:before {
  left: 28px;
}

/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.tooltip .fa-info-circle {
  color: #ffcc00;
  /* Gold color */
  font-size: 18px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Responsive Tooltip */
@media (max-width: 768px) {
  .tooltip .tooltiptext {
    width: auto;
    /* max-width: 120px; */
    left: 50%;
    transform: translateX(-100%);
  }
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with opacity */
}

.modal-content {
  background-color: #333;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  /* Allow proper positioning of the close button */
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #fff;
}

/* Responsive Modal */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    /* Increase width on smaller screens */
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%;
    /* Further increase width for very small screens */
    padding: 15px;
    /* Adjust padding to fit better on small screens */
  }
}

.credits {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

.credits.light-mode {
  color: #000;
}

.credits a {
  color: #66bb6a;
  text-decoration: none;
  transition: color 0.3s;
}

.credits a:hover {
  color: #fff;
}

.collapsible-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-left: 20px;
}

.collapsible-content.active {
  display: block;
  max-height: 1000px;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {

  td,
  th {
    padding: 4px;
  }

  table {
    font-size: 14px;
  }

  .flag {
    width: 15px;
    height: 10px;
  }
}

@media (max-width: 480px) {
  .toggle-container {
    top: 5px;
    right: 5px;
  }

  header h1 {
    font-size: 1.2em;
    padding: 5px 0;
  }

  .container {
    padding: 5px;
  }

  .description h2 {
    font-size: 1em;
  }

  table,
  th,
  td {
    font-size: 10px;
  }

  .flag {
    width: 12px;
    height: 8px;
  }
}